<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>任务列表</title>
    <!--data table-->
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>
    <style>
        .inputStyle {
            width: 250px;
        }

        .el-table .danger-row {
            background: #FF8C69;
        }

        .el-table .primary-row {
            background: #98F5FF;
        }

        body {
            padding-right: 0px !important;
            overflow: hidden;
        }
        .el-table__wrapper  {
            max-width: 100%;
            overflow-x: auto;
        }
        .custom-tooltip {
            white-space: nowrap;  /* 禁止换行 */
            overflow: visible;   /* 允许内容超出容器 */
        }
        .listView .el-table .el-table__header-wrapper thead tr th {
            white-space: nowrap!important;
        }
        .box-card {
            width: 50px;
            flex: 1.5;
            margin-left: 10px;
        }

        .parent {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 34%;
        }

        .button {
            flex: 1;
            width: 50px;
        }

    </style>
    <div th:include="common :: commonheader"></div>
</head>

<body class="sticky-header">

<section>

    <div th:replace="common :: #leftmenu"></div>

    <!-- main content start-->
    <div class="main-content">

        <div th:replace="common :: headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                任务列表
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Table</a>
                </li>
                <li class="active">任务列表</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper" id="app">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            任务列表
                        </header>

                        <div class="panel-body">
                            <div class="adv-table editable-table el-table__wrapper">
                                <div style="margin-bottom:25px;" class="parent">

<!--                                    <el-button type="primary" @click="showAddTask" class="button">添加任务</el-button>-->

                                    <el-button type="success" @click="showAuto" plain class="button">Auto相关</el-button>

                                    <el-button type="info" @click="executeAllTask" plain class="button">一键执行</el-button>

                                    <el-button type="warning" @click="delSucTask" plain class="button">清除完成</el-button>

                                    <el-card class="box-card">
                                        <span style="font-weight: bold;text-align: center;">{{ countdownText }}</span>
                                    </el-card>
                                </div>

                                <table class="table table-striped table-hover table-bordered"
                                       id="editable-sample"
                                >
                                    <tbody>
                                    <template>
                                        <el-table
                                                :data="tasks"
                                                border
                                                style="width: 100%"
                                                ref="table"
                                                row-key="id"
                                                @cell-dblclick="handleEdit"
                                        >
<!--                                            <el-table-column type="selection" width="55" :reserve-selection="true">-->
<!--                                            </el-table-column>-->
                                            <el-table-column
                                                    prop="id"
                                                    label="ID"
                                                    align="center"
                                                    width="65">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="type"
                                                    label="Type"
                                                    align="center"
                                                    width="60">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="group"
                                                    label="Group"
                                                    align="center"
                                                    width="90">
                                                <template slot-scope="scope">
                                                    <el-button
                                                            type="success"
                                                            plain
                                                            size="mini"
                                                            @click="showGroupLog(scope)">
                                                        {{ scope.row.group }}
                                                    </el-button>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    prop="money"
                                                    label="Money"
                                                    align="center"
                                                    width="80">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="status"
                                                    label="Status"
                                                    align="center"
                                                    width="80">
                                            </el-table-column>
                                            <el-table-column
                                                    label="操作"
                                                    width="500"
                                                    align="center">
                                                <template slot-scope="scope">
                                                    <el-button size="small" type="primary" @click="showLogById(scope)">任务Log</el-button>
                                                    <el-button size="small" type="success" @click="executeTask(scope)">执行 {{scope.row.id}}</el-button>
                                                    <el-button size="small" type="warning" @click="stopTask(scope)">停止</el-button>
                                                    <el-button size="small" type="info" @click="showEditTask(scope)">编辑</el-button>
                                                    <el-button size="small" type="danger" @click="deleteById(scope)">删除</el-button>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    prop="createTime"
                                                    label="创建时间"
                                                    align="center"
                                                    :formatter="createTimeReplace"
                                                    :width="flexWidth('createTime',tasks,'创建时间')">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="updateTime"
                                                    label="更新时间"
                                                    align="center"
                                                    :formatter="updateTimeReplace"
                                                    :width="flexWidth('updateTime',tasks,'更新时间')">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="remark"
                                                    label="备注 - 最新日志"
                                                    :width="flexWidth('remark',tasks,'备注 - 最新日志')">
                                            </el-table-column>

                                        </el-table>

                                        <el-dialog title="任务添加" :visible.sync="dialogVisible" width="30%">
                                            <el-form ref="newTask" :model="newTask" label-width="120px" :rules="rules">
                                                <el-form-item label="Type" prop="type" required>
                                                    <el-input v-model="newTask.type"></el-input>
                                                </el-form-item>
                                                <el-form-item label="分组" prop="group" required>
                                                    <el-input v-model="newTask.group"></el-input>
                                                </el-form-item>
                                                <el-form-item label="金额" prop="money" required>
                                                    <el-input-number v-model="newTask.money" :min="1" :max="9999999999999"></el-input-number>
                                                </el-form-item>
                                                <el-form-item label="备注" prop="remarks" required>
                                                    <el-input v-model="newTask.remarks" ></el-input>
                                                </el-form-item>
                                            </el-form>

<!--                                            <el-button @click="resetNewTask('newTask')">重置</el-button>-->
                                            <el-button @click="dialogVisible = false">取 消</el-button>
                                            <el-button type="primary" @click="addTask()">确 定</el-button>
                                            </span>
                                        </el-dialog>

                                        <el-dialog title="Auto_log 自动日志" :visible.sync="autoLogVisible" width="70%">

                                            <template>
                                                <div style="margin-bottom:25px;">

                                                    <el-button type="primary" @click="autoRun" plain>立即转账</el-button>

                                                    <el-button type="success" @click="autoXXX('MX')" plain>M找A</el-button>

                                                    <el-button type="success" @click="autoXXX('AX')" plain>A找B</el-button>

                                                    <el-button type="success" @click="autoXXX('BX')" plain>B找C</el-button>

                                                    <el-button type="warning" @click="delAllTask" plain>清空任务</el-button>

                                                    <el-button type="primary" @click="schedulerTask" plain >{{schedulerStatus === true ? '取消计划任务' : '启动计划任务'}}</el-button>
                                                </div>
                                                <el-table
                                                        :data="autoLogList"
                                                        stripe
                                                        style="width: 100%">
                                                    <el-table-column
                                                            prop="log"
                                                            label="日志">
                                                    </el-table-column>
                                                </el-table>
                                            </template>
                                            <el-button @click="autoLogVisible = false">返 回</el-button>
                                        </el-dialog>

                                        <el-dialog title="Task_log 日志记录" :visible.sync="logVisible" width="70%">

                                            <template>
                                                <el-table
                                                        :data="logList"
                                                        stripe
                                                        style="width: 100%">
                                                    <el-table-column
                                                            prop="log"
                                                            label="日志">
                                                    </el-table-column>
                                                </el-table>
                                            </template>
                                            <el-button @click="logVisible = false">返 回</el-button>
                                        </el-dialog>

                                        <el-dialog title="任务 编辑" :visible.sync="taskEditVisible" width="30%">
                                            <el-form ref="editTask" :model="editTask" label-width="120px">
                                                <el-form-item label="Type" prop="type">
                                                    <el-input v-model="editTask.type"></el-input>
                                                </el-form-item>
                                                <el-form-item label="分组" prop="group" required>
                                                    <el-input v-model="editTask.group"></el-input>
                                                </el-form-item>
                                                <el-form-item label="金额" prop="money" required>
                                                    <el-input-number v-model="editTask.money" :min="1" :max="9999999999999"></el-input-number>
                                                </el-form-item>
                                                <el-form-item label="备注" prop="remark">
                                                    <el-input v-model="editTask.remark" ></el-input>
                                                </el-form-item>

                                            </el-form>

                                            <el-button type="success" @click="updateTask()">更 新</el-button>
                                            <el-button @click="resetToOriginalTask()">重 置</el-button>
                                            <el-button @click="taskEditVisible = false">取 消</el-button>

                                        </el-dialog>

                                        <el-dialog title="分组日志" :visible.sync="groupLogVisible" width="70%">
                                            <div style="margin-bottom:25px;">
                                                <el-button type="warning" @click="groupStop" plain>停用该组</el-button>

                                                <el-button type="success" @click="groupStart" plain>启用该组</el-button>
                                            </div>
                                            <template>
                                                <el-table
                                                        :data="groupLogs"
                                                        stripe
                                                        style="width: 100%">
                                                    <el-table-column
                                                            prop="log"
                                                            label="日志">
                                                    </el-table-column>
                                                </el-table>
                                            </template>
                                            <el-button @click="groupLogVisible = false">返 回</el-button>
                                        </el-dialog>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
<!--                        <el-pagination-->
<!--                                background-->
<!--                                :page-sizes="[10, 20, 50, 100]"-->
<!--                                :page-size="pageSize"-->
<!--                                :current-page="pageNum"-->
<!--                                @size-change="handleSizeChange"-->
<!--                                @current-change="handleCurrentChange"-->
<!--                                layout="total, sizes, prev, pager, next"-->
<!--                                :total="total">-->
<!--                        </el-pagination>-->
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <!--<footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>-->
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--<script src="js/Date.js"></script>-->

<!--data table-->
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

<script src="js/vue.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<!--script for editable table-->
<!-- END JAVASCRIPTS -->
<script>
    /*    jQuery(document).ready(function() {
            EditableTable.init();
        });*/
    // let baseUrl = "http://192.168.100.119:8080";
    var app = new Vue({
        el: '#app',
        data () {
            let data = {
                tasks:[],
                fileList: [],
                summary: '',
                total: 0,
                pageNum: 1,
                pageSize: 10,
                options: [{
                    value: 0,
                    label: '否'
                }, {
                    value: 1,
                    label: '是'
                }],
                dialogVisible: false,
                newTask: {
                    type: '',
                    group: '',
                    money: '',
                    remarks: '',
                },
                rules: {
                    type: [
                        { required: true, message: '请输入Type', trigger: 'blur' },
                    ],
                    group: [
                        { required: true, message: '请填写 分组', trigger: 'blur' }
                    ],
                    money: [
                        {required: true, message: '请填写 金额', trigger: 'blur' }
                    ],
                    remarks: [
                        { required: true, message: '请填写 备注', trigger: 'blur' }
                    ]
                },
                groupLogs:[],
                groupLogVisible: false,
                groupId: "",
                autoLogList:[],
                autoLogVisible: false,
                logId:"",
                logVisible: false,
                logList:[],
                taskEditVisible: false,
                taskId:"",
                editTask:{
                    id: '',
                    type: '',
                    group: '',
                    money: '',
                    remark: '',
                },
                originalTask:{},
                schedulerStatus: '',
                countdownText: '',
                timer: '',
                deadline: '',


        }
            return data
        },

        methods: {
            onSubmit() {
                axios.get(baseUrl + '/task/list',
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {
                            // pageNum: this.pageNum,
                            // pageSize: this.pageSize
                        }
                    })
                    .then((response) => {
                        // console.log("responose是：" + response.data);
                        this.tasks = response.data.data
                        // if (response.data != null) {
                        //     this.total = response.data.data.total
                        // }
                    })
            },
            resetCondition() {
                this.ip = '',
                this.country = '',
                this.state = '',
                this.city= '',
                this.zipCode = '';
            },
            // handleSizeChange(val) {
            //     this.pageSize = val;
            //     this.pageNum = 1;
            //     this.onSubmit();
            // },
            // handleCurrentChange(val) {
            //     this.pageNum = val;
            //     this.onSubmit();
            // },
            timeFormatter(row, column) {
                return this.timestampToTime(row.confirmedTimestamp);
            },
            /**
             * 计算时间返回 yyyy-MM-dd h:m:s 格式的⽅法
             * timestamp 时间戳
             */
            timestampToTime(timestamp) {
                // 计算年⽉⽇时分的函数
                var date = new Date(timestamp * 1000)
                console.log(date);
                var Y = date.getFullYear() + '-'
                var M = (date.getMonth() + 1) + '-'
                var D = date.getDate() + ' '
                var h = date.getHours() + ':'
                var m = date.getMinutes() + ':'
                var s = date.getSeconds()
                return Y + M + D + h + m + s
            },
            search() {
                this.onSubmit();
            },
            submitUpload() {
                this.$refs.upload.submit();
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${ file.name }？`);
            },
            deleteById({row, column}) {
                //保存Vue指针
                var that = this;
                const loading = this.$loading({
                    lock: true,
                    text: '删除中...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                axios.delete(baseUrl + '/task/delete/' + row.id, {})
                    .then(function (response) {
                        loading.close();
                            confirmButtonText: '确定',
                                that.$message({
                                    type: 'info',
                                    message: response.data.message
                                });
                        that.onSubmit();
                    })
                    .catch(function (error) {
                        loading.close();
                        that.$message.error('异常错误：' + error.data.message);
                    });
            },
            handleEdit(row) {
                // 将当前行设置为编辑状态
                Vue.set(row, 'isEditing', true);
            },
            handleSave(row) {
                // 保存当前行的修改
                // 可以将修改后的数据提交到后台进行保存
                axios.post(baseUrl + '/task/update',

                    JSON.stringify(row)
                    , {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/json; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true
                    }).then((response) => {

                    console.log(response)
                    this.$message({
                        message: response.data.message,
                        type: 'success'
                    });
                })

                // 将当前行的 isEditing 属性设置为 false，表示该行不再处于编辑状态
                Vue.set(row, 'isEditing', false);
            },
            showAddTask() {

                this.dialogVisible = true;

            },
            addTask() {

                this.$refs.newTask.validate((valid) => {
                    if (valid) {
                        //保存Vue指针
                        var that = this;
                        let data = {
                            type: this.newTask.type,
                            group: this.newTask.group,
                            money: this.newTask.money,
                            remark: this.newTask.remarks,
                        };
                        axios.post(baseUrl + '/task/save', data)
                            .then(function (response) {
                                if (response.data.status == 100) {
                                    console.log(response.data.status);
                                    that.$message({
                                        showClose: true,
                                        offset: 250,
                                        message: response.data.message,
                                        type: 'success'
                                    });
                                    that.onSubmit();
                                } else {
                                    that.$message({
                                        showClose: true,
                                        offset: 250,
                                        message: response.data.message,
                                        type: 'warning'
                                    });
                                }
                            })
                            .catch(function (error) {

                                that.$message({
                                    showClose: true,
                                    offset: 250,
                                    message: error.response.data.message,
                                    type: 'error'
                                });
                            });
                        this.dialogVisible = false;

                    } else {
                        return false;
                    }
                });
            },
            resetNewTask(formName) {
                this.$refs[formName].resetFields();
            },
            showGroupLog({row, column}) {

                this.groupLogVisible = true;
                this.groupId = row.group;
                this.getGroupLogListById();

            },
            getGroupLogListById() {
                //保存Vue指针
                var that = this;

                axios.get(baseUrl + '/task/log/' + this.groupId,
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        // console.log("responose是：" + response.data);
                        this.groupLogs = response.data.data.records.map(log => ({  // 生成对象
                                log    // 生成log属性
                            })
                        );
                        // this.groupLogs = response.data.data.records
                    })
                // this.groupLogVisible = false;
            },
            showAuto() {
                this.autoLogVisible = true;
                this.autoLogs();
            },
            autoLogs() {
                //保存Vue指针
                var that = this;

                axios.get(baseUrl + '/auto/logs/',
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        // console.log("autoLogs responose是：" + response.data.data);
                        this.autoLogList = response.data.data.map(log => ({  // 生成对象
                                log    // 生成log属性
                            })
                        );
                    })
            },
            autoRun() {
                //保存Vue指针
                var that = this;

                axios.get(baseUrl + '/auto/autoRun/',
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        if (response.data.status == 100) {
                            console.log(response.data.status);
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: "执行 成功！" ,
                                type: 'success'
                            });

                            //刷新日志
                            that.autoLogs()
                            //刷新任务列表
                            that.onSubmit();
                        }
                    })
                // this.groupLogVisible = false;
            },
            autoXXX(doParam) {
                //保存Vue指针
                var that = this;

                axios.get(baseUrl + '/auto/autoXXX/',
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {
                            doParam: doParam
                        }
                    })
                    .then((response) => {
                        if (response.data.status == 100) {
                            console.log(response.data.status);
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: "执行 " + doParam + " 逻辑成功！" ,
                                type: 'success'
                            });

                            //刷新日志
                            that.autoLogs()
                            //刷新任务列表
                            that.onSubmit();
                        }
                    })
            },
            delAllTask() {
                //保存Vue指针
                var that = this;

                axios.get(baseUrl + '/task/delAllTask/',
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        if (response.data.status == 100) {
                            console.log(response.data.status);
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: "清空任务成功！",
                                type: 'success'
                            });
                            //刷新日志
                            that.autoLogs()
                            //刷新任务列表
                            that.onSubmit();
                        }
                    })
            },
            executeAllTask() {
                //保存Vue指针
                var that = this;

                axios.get(baseUrl + '/task/executeAllTask/',
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        if (response.data.status == 100) {
                            console.log(response.data.status);
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: "操作成功！",
                                type: 'success'
                            });
                            that.onSubmit();
                        }
                    })
            },

            delSucTask() {
                //保存Vue指针
                var that = this;

                axios.get(baseUrl + '/task/delSucTask/',
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        if (response.data.status == 100) {
                            console.log(response.data.status);
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: "操作成功！",
                                type: 'success'
                            });
                            that.onSubmit();
                        }
                    })
            },
            showLogById({row, column}) {
                this.logVisible = true;
                this.logId = row.id;
                this.getLogListById();
            },
            getLogListById() {
                //保存Vue指针
                var that = this;

                axios.get(baseUrl + '/task/log/' + this.logId,
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        // console.log("responose是：" + response.data);
                        this.logList = response.data.data.map(log => ({  // 生成对象
                                log    // 生成log属性
                            })
                        );
                    })
            },
            executeTask({row, column}) {
                //保存Vue指针
                var that = this;

                axios.get(baseUrl + '/task/executeTask/' + row.id,
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        if (response.data.status == 100) {
                            console.log(response.data.status);
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: "操作成功！",
                                type: 'success'
                            });
                            this.onSubmit();
                        }
                    })
            },
            stopTask({row, column}) {
                //保存Vue指针
                var that = this;

                axios.get(baseUrl + '/task/stopTask/' + row.id,
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        if (response.data.status == 100) {
                            console.log(response.data.status);
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: "操作成功！",
                                type: 'success'
                            });
                        }
                    })
            },
            showEditTask({row, column}) {
                this.taskEditVisible = true;
                axios.get(baseUrl + '/task/' + row.id,
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        this.editTask = response.data.data;
                        this.originalTask = response.data.data;
                    })

            },
            updateTask() {

                //保存Vue指针
                var that = this;

                axios.put(baseUrl + '/task/update/' + this.editTask.id, this.editTask)
                    .then(function (response) {
                        if (response.data.status == 100) {
                            console.log(response.data.status);
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: response.data.message,
                                type: 'success'
                            });
                            that.onSubmit();
                        } else {
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: response.data.message,
                                type: 'warning'
                            });
                        }
                    })
                    .catch(function (error) {

                        that.$message({
                            showClose: true,
                            offset: 250,
                            message: error.response.data.message,
                            type: 'error'
                        });
                    });
                this.taskEditVisible = false;
            },
            resetToOriginalTask() {
                this.editTask = this.originalTask;
            },
            groupStart() {
                //保存Vue指针
                var that = this;
                axios.get(baseUrl + '/account/groupStart/' + this.groupId,
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        if (response.data.status == 100) {
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: "操作成功",
                                type: 'success'
                            });
                        }
                    })
            },
            groupStop() {
                //保存Vue指针
                var that = this;
                axios.get(baseUrl + '/account/groupStop/' + this.groupId,
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',  //解决cors头问题
                            'Access-Control-Allow-Credentials': 'true', //解决session问题
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                        },
                        withCredentials: true,
                        params: {}
                    })
                    .then((response) => {
                        if (response.data.status == 100) {
                            that.$message({
                                showClose: true,
                                offset: 250,
                                message: "操作成功",
                                type: 'success'
                            });
                        }
                    })
            },
            updateTimeReplace(row, column) {
                if (row.updateTime != null) {
                    return row.updateTime.replace(/T/g, ' ').replace(/.[\d]{3}Z/, ' ');
                }
            },
            createTimeReplace(row, column) {
                if (row.createTime != null) {
                    return row.createTime.replace(/T/g, ' ').replace(/.[\d]{3}Z/, ' ');
                }
            },

            /**
             * flexWidth
             * @param prop 每列的prop 可传''
             * @param tableData 表格数据
             * @param title 标题长内容短的，传标题  可不传
             * @param num 列中有标签等加的富余量
             * @returns 列的宽度
             * 注：prop,title有一个必传
             */
            flexWidth(prop, tableData, title, num = 0) {
                if (tableData.length === 0 ) {//表格没数据不做处理
                    return;
                }
                let flexWidth = 0;//初始化表格列宽
                let columnContent = '';//占位最宽的内容
                let canvas = document.createElement("canvas");
                let context = canvas.getContext("2d");
                context.font = "14px Microsoft YaHei";
                if ((prop === '') && title) {//标题长内容少的，取标题的值,
                    columnContent = title
                } else {// 获取该列中占位最宽的内容
                    let index = 0;
                    for (let i = 0; i < tableData.length; i++) {
                        const now_temp = tableData[i][prop] + '';
                        const max_temp = tableData[index][prop] + '';
                        const now_temp_w = context.measureText(now_temp).width
                        const max_temp_w = context.measureText(max_temp).width
                        if (now_temp_w > max_temp_w) {
                            index = i;
                        }
                    }
                    columnContent = tableData[index][prop]
                    //比较占位最宽的值跟标题、标题为空的留出四个位置
                    const column_w = context.measureText(columnContent).width
                    const title_w = context.measureText(title).width
                    if (column_w < title_w) {
                        columnContent = title || '留四个字'
                    }
                }
                // 计算最宽内容的列宽
                let width = context.measureText(columnContent);
                flexWidth = width.width + 40 + num
                return flexWidth + 'px';
            },
            getButtonText() {
                // 请求后端接口
                axios.get(baseUrl + '/scheduler/status/').then(response => {
                    if (response.data.data == true) {
                        this.schedulerStatus = true;
                    } else {
                        this.schedulerStatus = false;
                    }
                })
            },
            schedulerTask() {
                //保存Vue指针
                var that = this;
                if (this.schedulerStatus) {
                    axios.get(baseUrl + '/scheduler/disable/',
                        {
                            headers: {
                                'Access-Control-Allow-Origin': '*',  //解决cors头问题
                                'Access-Control-Allow-Credentials': 'true', //解决session问题
                                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                            },
                            withCredentials: true,
                            params: {}
                        })
                        .then((response) => {
                            if (response.data.status == 100) {
                                that.$message({
                                    showClose: true,
                                    offset: 250,
                                    message: "取消计划任务成功",
                                    type: 'success'
                                });
                            }
                            this.getButtonText();
                            this.getDeadline();
                        })
                } else {
                    axios.get(baseUrl + '/scheduler/enable/',
                        {
                            headers: {
                                'Access-Control-Allow-Origin': '*',  //解决cors头问题
                                'Access-Control-Allow-Credentials': 'true', //解决session问题
                                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' //将表单数据传递转化为form-data类型
                            },
                            withCredentials: true,
                            params: {}
                        })
                        .then((response) => {
                            if (response.data.status == 100) {
                                that.$message({
                                    showClose: true,
                                    offset: 250,
                                    message: "启动计划任务成功",
                                    type: 'success'
                                });
                            }
                            this.getButtonText();

                            setTimeout(() => {
                                // 等待2秒后执行倒计时函数
                                this.getDeadline();
                            }, 2000);

                        })
                }

            },

            getDeadline() {
                axios.get(baseUrl + '/scheduler/next-execution-time').then(res => {
                    console.log("返回时间是： " + res.data.dat);
                    this.deadline = new Date(res.data.data)  // 得到Date并赋值给deadline
                    let endDate = new Date(this.deadline)  // deadline为结束时间Date对象
                    console.log("endDate是： " + endDate);
                    let now = new Date()
                    let diff = endDate - now
                    console.log("时差是： " + diff);

                    //如果时差为0，说明定时任务并未开启，取消下面倒计时操作
                    if (diff <= 0 || this.schedulerStatus === false) {
                        this.countdownText = '/'
                        return;
                    }
                    this.startTimer();  // 启动定时器
                })
            },
            startTimer() {
                this.timer = setInterval(() => {
                    let endDate = new Date(this.deadline)  // deadline为结束时间Date对象
                    let now = new Date()
                    let diff = endDate - now
                    // let day = parseInt(diff / 1000 / 60 / 60 / 24)
                    // let hour = parseInt(diff / 1000 / 60 / 60 % 24)
                    let minute = parseInt(diff / 1000 / 60 % 60)
                    let second = parseInt(diff / 1000 % 60)
                    // this.countdownText = `${day}天${hour}时${minute}分${second}秒`
                    this.countdownText = `${minute}分${second}秒`
                    if (diff <= 0) {   // 倒计时结束
                        clearInterval(this.timer)  // 清除定时器
                        this.getDeadline()  // 重新获取deadline并启动新一轮倒计时
                    }
                }, 1000)
            }
        },
        mounted() {
            this.onSubmit();
            this.getButtonText();
            this.getDeadline();
        }
    })
</script>

</body>
</html>
